#heronav {
    position: fixed;
    width: 100%;
    background-color: gray;
}

#navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo {
    height: 50px;
    margin: 8px;
    border-radius: 20px;
}

#nav2 {
    display: flex;
}

.nav {
    font-size: 20px;
    color: #000;
    text-decoration: none;
    margin: 5px;
    padding: 7px;
    background-color: gray;
}

.nav:hover {
    color: skyblue;
    transition: 0.1s ease;
}
#container1{
height: 700px;
width: 100%; 
background-image: url(/images/homemain2.jpg);
background-size: cover;
background-repeat: no-repeat;
background-position: center;
z-index: 1;
#boxx{
height: 500px;
width: 100%; 
background-color: none;
background-size: auto;
background-repeat: no-repeat;
background-position: center;
z-index: 1;
display: flex;
flex-direction: row;
flex-wrap: wrap;
}
.c1{
    height: 500px;
    width: 50%;
    background-color: none;
}
.c2{
    

}
}
#i{
    height: 600px;
    width: 100%; 
    background-position:right ;
    opacity: black 1.5;
}
#hcontainer{
    height: 300px;
    width: 100%;
    background-color:none;
}
#style{
    z-index: 1;
}


#container2{
   
    height: 400px;
    width: auto;
    background-color:white;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    border-radius: 40px;
    margin: 10px;
    padding: 10px;
    height:250px;
    width: 250px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    transition-duration: 0.1s;
    transition-property: all;
    transition-timing-function: steps(1);
}
.box:hover{
    border: solid skyblue;

}


#box1{
    text-align: center;
    display: flex;
    flex-direction: column;
}


#container4{
    height: 700px;
    width: auto;
    background-color:aqua;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.box{
margin: 20px;
height: 250px;
width: 25%;
}
#container5{
    height: 450px;
    width: auto;
    background-color:gray;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}
#link{
     height: 30px;
     width: 100%;
     background-color: rgb(255, 255, 255);
}

#Services{
    height: 300px;
    width: 100%;
    background-color: skyblue;
    display: flex;
    flex-direction: row;
}
.slot{
    margin: 20px;
    background-color: none;
    height: 350px;
    width: 400px;
    background-color: none;
    border-radius:40px ;
    border:solid none;
    
}
#logocontainer{
    margin: 10px;
    background-color:skyblue;
    border-radius: 40px;
    display: flex;
    flex-direction: row;
}

#slot2{
h2{
    text-size-adjust: large;
}
margin: 20px;
 text-align: left;
 line-height: 30px;

}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 52px,
  'wght' 75px,
  'GRAD' 50px,
  'opsz' 75px
}
#icon{
    margin-left: 25%;
}
#minbox{
    border: solid black;
    border-radius: 10px;
    height: 70px;
    width: 70px;
    margin-left: 45%; 
    background-color: grey;
    background-position: center;
}
.sq{
    margin-left: 29%;
    background-position: center;
}
#container3{
    height: 850px;
    width: auto;
    background-image: url(/images/works-section.jpg);
    background-repeat: no-repeat;
    opacity: 1px;
    display: flexbox;

#row{
    height: 500px;
    width: 100%;
    background-image: image-set(url(/images/line.png));
    
    background-position: center;
    background-repeat: no-repeat;
    border: #000;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
.b{
    margin: 20px;
height: 200px;
width: 200px;
background-color: bisque;
border:dashed skyblue;
border-radius: 50%;

}
#b1{
   margin-bottom: 120px;
   
}
#b2{
    margin-top: 190px;
}
#b3{
    margin-top: 100px;
}
}

}
.btn{
    margin-top: 40px;
    height: 50px;
    width: 200px;
    margin-left: 42%;
    border-radius: 25px;
    background-color: skyblue;
    font-family: 'Times New Roman', Times, serif;
    border-color: skyblue;
    transition-duration: 1s;
    transition-property: all;
    transition-timing-function: ease-in-out;

#text{
    color: white;
    }
}
.btn:hover{
    background-color: #000000;
    border-color: #000;
    height: 50px;
    width: 200px;
} 
.btn:active{
    height: 50px;
    width: 200px;
   background-color:skyblue;
}
.img{
    transition-duration: 0.5s;
    transition-property: all;
    transition-timing-function: ease-in-out;
}
.img:hover{
         transform: rotatey(180deg);
         
}
.bb{
    margin-top: 15%;
    margin-left: 100px;
    height: 800px;
    width: 50%;
    background-color: none;
    z-index: 2;
}
#herobtn{
    
    height: 50px;
    width: 200px;
    border-radius: 25px;
    background-color:none;
    font-family: 'Times New Roman', Times, serif;
    border-color: skyblue;
    transition-duration: 1s;
    transition-property: all;
    transition-timing-function: ease-in-out;
}
#herobtn:hover{
    background-color: #000000;
    border-color: skyblue;
    height: 50px;
    width: 200px;
} 
#herobtn:active{
    height: 50px;
    width: 200px;
   background-color:skyblue;
}